<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>c</key>
    <dict>
      <key>j</key>
      <integer>-110</integer>
    </dict>
    <key>e</key>
    <dict>
      <key>r</key>
      <integer>-75</integer>
    </dict>
    <key>f</key>
    <dict>
      <key>B</key>
      <integer>90</integer>
      <key>D</key>
      <integer>90</integer>
      <key>E</key>
      <integer>90</integer>
      <key>F</key>
      <integer>90</integer>
      <key>H</key>
      <integer>90</integer>
      <key>I</key>
      <integer>90</integer>
      <key>J</key>
      <integer>-130</integer>
      <key>K</key>
      <integer>90</integer>
      <key>L</key>
      <integer>90</integer>
      <key>N</key>
      <integer>90</integer>
      <key>P</key>
      <integer>90</integer>
      <key>R</key>
      <integer>90</integer>
      <key>S</key>
      <integer>90</integer>
      <key>T</key>
      <integer>90</integer>
      <key>U</key>
      <integer>90</integer>
      <key>V</key>
      <integer>90</integer>
      <key>W</key>
      <integer>90</integer>
      <key>X</key>
      <integer>90</integer>
      <key>Y</key>
      <integer>90</integer>
      <key>Z</key>
      <integer>90</integer>
      <key>a</key>
      <integer>-30</integer>
      <key>b</key>
      <integer>90</integer>
      <key>c</key>
      <integer>50</integer>
      <key>d</key>
      <integer>-80</integer>
      <key>e</key>
      <integer>-30</integer>
      <key>f</key>
      <integer>-65</integer>
      <key>four</key>
      <integer>90</integer>
      <key>g</key>
      <integer>-50</integer>
      <key>h</key>
      <integer>90</integer>
      <key>i</key>
      <integer>-65</integer>
      <key>j</key>
      <integer>-110</integer>
      <key>k</key>
      <integer>90</integer>
      <key>l</key>
      <integer>90</integer>
      <key>m</key>
      <integer>50</integer>
      <key>o</key>
      <integer>-90</integer>
      <key>one</key>
      <integer>90</integer>
      <key>q</key>
      <integer>-90</integer>
      <key>s</key>
      <integer>-90</integer>
      <key>t</key>
      <integer>90</integer>
      <key>three</key>
      <integer>90</integer>
      <key>zero</key>
      <integer>30</integer>
    </dict>
    <key>l</key>
    <dict>
      <key>b</key>
      <integer>110</integer>
      <key>h</key>
      <integer>110</integer>
      <key>k</key>
      <integer>110</integer>
    </dict>
    <key>p</key>
    <dict>
      <key>public.kern2.o</key>
      <integer>0</integer>
    </dict>
    <key>q</key>
    <dict>
      <key>a</key>
      <integer>-90</integer>
      <key>c</key>
      <integer>-90</integer>
    </dict>
    <key>t</key>
    <dict>
      <key>e</key>
      <integer>-75</integer>
      <key>r</key>
      <integer>-75</integer>
    </dict>
  </dict>
</plist>
