{
.appVersion = "3260";
.storedFileType = com.glyphsapp.glyphspackage;
.formatVersion = 3;
.storedFormatVersion = 1;
axes = (
{
name = Width;
tag = wdth;
}
);
customParameters = (
{
name = "Use Typo Metrics";
value = 1;
}
);
date = "2024-09-03 16:57:06 +0000";
familyName = Flux;
featurePrefixes = (
{
automatic = 1;
code = "languagesystem DFLT dflt;
";
name = Languagesystems;
}
);
features = (
{
automatic = 1;
code = "lookupflag IgnoreMarks;
sub f f by f_f;
sub f h by f_h.liga;
sub f i by f_i;
sub f l by f_l;
sub f t by f_t.liga;
sub i j by i_j.liga;
sub r r by r_r.liga;
sub t t by t_t.liga;
";
tag = liga;
}
);
fontMaster = (
{
axesValues = (
300
);
customParameters = (
{
name = winAscent;
value = 805;
},
{
name = winDescent;
value = 230;
},
{
name = typoAscender;
value = 805;
},
{
name = typoDescender;
value = -230;
},
{
name = typoLineGap;
value = 115;
},
{
name = hheaAscender;
value = 805;
},
{
name = hheaDescender;
value = -230;
},
{
name = hheaLineGap;
value = 115;
},
{
name = underlinePosition;
value = 115;
},
{
name = underlineThickness;
value = 15;
},
{
name = "Master Icon Glyph Name";
value = a;
}
);
iconName = Light_Condensed;
id = "B9294602-EB87-4DCD-A39F-D52598F560AD";
metricValues = (
{
pos = 805;
},
{
pos = 690;
},
{
pos = 575;
},
{
},
{
pos = -230;
}
);
name = Condensed;
stemValues = (
115,
115,
115,
115
);
userData = {
GSCornerRadius = 50;
};
visible = 1;
},
{
axesValues = (
900
);
customParameters = (
{
name = winAscent;
value = 805;
},
{
name = winDescent;
value = 230;
},
{
name = typoAscender;
value = 805;
},
{
name = typoDescender;
value = -230;
},
{
name = typoLineGap;
value = 115;
},
{
name = hheaAscender;
value = 805;
},
{
name = hheaDescender;
value = -230;
},
{
name = hheaLineGap;
value = 115;
},
{
name = underlinePosition;
value = 115;
},
{
name = underlineThickness;
value = 15;
},
{
name = "Master Icon Glyph Name";
value = a;
}
);
iconName = Light_Extended;
id = "52F3452F-C0C6-4900-9BFE-1786415B207F";
metricValues = (
{
pos = 805;
},
{
pos = 690;
},
{
pos = 575;
},
{
},
{
pos = -230;
}
);
name = "Ultra Expanded";
stemValues = (
115,
115,
115,
115
);
userData = {
GSCornerRadius = 50;
};
}
);
instances = (
{
axesValues = (
300
);
instanceInterpolations = {
"B9294602-EB87-4DCD-A39F-D52598F560AD" = 1;
};
name = Condensed;
widthClass = 3;
},
{
axesValues = (
400
);
instanceInterpolations = {
"52F3452F-C0C6-4900-9BFE-1786415B207F" = 0.16667;
"B9294602-EB87-4DCD-A39F-D52598F560AD" = 0.83333;
};
name = "Semi Condensed";
widthClass = 4;
},
{
axesValues = (
500
);
instanceInterpolations = {
"52F3452F-C0C6-4900-9BFE-1786415B207F" = 0.33333;
"B9294602-EB87-4DCD-A39F-D52598F560AD" = 0.66667;
};
name = Normal;
},
{
axesValues = (
600
);
instanceInterpolations = {
"52F3452F-C0C6-4900-9BFE-1786415B207F" = 0.5;
"B9294602-EB87-4DCD-A39F-D52598F560AD" = 0.5;
};
name = "Semi Expanded";
widthClass = 6;
},
{
axesValues = (
700
);
instanceInterpolations = {
"52F3452F-C0C6-4900-9BFE-1786415B207F" = 0.66667;
"B9294602-EB87-4DCD-A39F-D52598F560AD" = 0.33333;
};
name = Expanded;
widthClass = 7;
},
{
axesValues = (
800
);
instanceInterpolations = {
"52F3452F-C0C6-4900-9BFE-1786415B207F" = 0.83333;
"B9294602-EB87-4DCD-A39F-D52598F560AD" = 0.16667;
};
name = "Extra Expanded";
widthClass = 8;
},
{
axesValues = (
900
);
instanceInterpolations = {
"52F3452F-C0C6-4900-9BFE-1786415B207F" = 1;
};
name = "Ultra Expanded";
widthClass = 9;
}
);
kerningLTR = {
"B9294602-EB87-4DCD-A39F-D52598F560AD" = {
c = {
j = -110;
};
e = {
r = -75;
};
f = {
B = 90;
D = 90;
E = 90;
F = 90;
H = 90;
I = 90;
J = -130;
K = 90;
L = 90;
N = 90;
P = 90;
R = 90;
S = 90;
T = 90;
U = 90;
V = 90;
W = 90;
X = 90;
Y = 90;
Z = 90;
a = -30;
b = 90;
c = 50;
d = -80;
e = -30;
f = -65;
four = 90;
g = -50;
h = 90;
i = -65;
j = -110;
k = 90;
l = 90;
m = 50;
o = -90;
one = 90;
q = -90;
s = -90;
t = 90;
three = 90;
zero = 30;
};
l = {
b = 110;
h = 110;
k = 110;
};
p = {
"@MMK_R_o" = 0;
};
q = {
a = -90;
c = -90;
};
t = {
e = -75;
r = -75;
};
};
"52F3452F-C0C6-4900-9BFE-1786415B207F" = {
c = {
j = -110;
};
e = {
r = -75;
};
f = {
B = 90;
D = 90;
E = 90;
F = 90;
H = 90;
I = 90;
J = -130;
K = 90;
L = 90;
N = 90;
P = 90;
R = 90;
S = 90;
T = 90;
U = 90;
V = 90;
W = 90;
X = 90;
Y = 90;
Z = 90;
a = -30;
b = 90;
c = 50;
d = -80;
e = -30;
f = -65;
four = 90;
g = -50;
h = 90;
i = -65;
j = -110;
k = 90;
l = 90;
m = 50;
o = -90;
one = 90;
q = -90;
s = -90;
t = 90;
three = 90;
zero = 30;
};
l = {
b = 110;
h = 110;
k = 110;
};
p = {
"@MMK_R_o" = -80;
};
q = {
a = -90;
c = -90;
};
t = {
e = -75;
r = -75;
};
};
};
metrics = (
{
type = ascender;
},
{
type = "cap height";
},
{
type = "x-height";
},
{
type = baseline;
},
{
type = descender;
}
);
properties = (
{
key = copyrights;
values = (
{
language = dflt;
value = "Copyright 2024 Flux Variable Font Authors (https://github.com/Instrument/instrument-serif)";
}
);
},
{
key = designers;
values = (
{
language = ENG;
value = "Ralph Bruens";
}
);
},
{
key = designerURL;
value = fonts.ralphbruens.nl;
},
{
key = licenses;
values = (
{
language = ENG;
value = "OFL-1.1";
},
{
language = dflt;
value = "https://opensource.org/license/ofl-1-1";
}
);
},
{
key = manufacturers;
values = (
{
language = ENG;
value = "Ralph Bruens";
}
);
}
);
settings = {
gridLength = 115;
gridSubDivision = 115;
};
stems = (
{
horizontal = 1;
name = hStem0;
},
{
horizontal = 1;
name = hStem1;
},
{
name = vStem0;
},
{
name = vStem1;
}
);
unitsPerEm = 1000;
userData = {
GSDimensionPlugin.Dimensions = {
"89D264E5-E25E-4693-992D-98147D6E2B81" = {
};
"B9294602-EB87-4DCD-A39F-D52598F560AD" = {
};
};
};
versionMajor = 1;
versionMinor = 0;
}
